#map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 220px;
    outline: none;
}

#infobar {
    position: absolute;
    height: 20px;
    left: 0px;
    right: 0px;
    bottom: 200px;
    background-color: #000;
    color: #ccc;
    font-family: courier;
    font-size: 12px;
    padding-left: 50px;
}

#infobar > * {
    display: inline-block;
    padding-top:2px;
}

#statistics {
    position: absolute;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    font-family: helvetica neue;
    font-size:13px;
    white-space: nowrap;
    overflow: hidden;
}

#statistics > .pane {
    padding: 10px;
    display: inline-block;
    height: 80%;
    margin: 5px;
    overflow: scroll;
    border-right: 1px solid #ddd;
    color: #888;
}

#statistics table {
    border-spacing: 0px;
}

#statistics table td:first-child {
    text-align: right;
    padding-right: 5px;
}

#statistics table th {
    text-align: left;
}

#statistics table th.big,
#statistics .title {
    font-size: 24px;
    color: #000;
    border-bottom: 1px dotted #7878e2;
    font-weight: normal;
}

#statistics table th.big {
    padding-left: 5px;
    padding-right: 5px;
}

#statistics table.centered td {
    text-align: center;
}

#statistics .title {
    font-size: 24px;
    color: #000;
    display: inline-block;
    margin-bottom: 4px;
}

#statistics .number {
    font-size: 13px;
    color: #7878e2;
}

#statistics .number.big {
    font-size: 24px;
}

#planethumbs {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 220px;
    bottom: 236px;
    background: rgba(255,255,255,0.7);
    z-index: 100000;
    overflow-y: scroll;
    font-size: 13px;
    font-family: arial;
}

.plane-entry
{
    transition:2s;
    border: 1px solid #aaa;
    box-shadow: 3px 3px 5px #888;
    margin-bottom: 5px;
    background: #fff;
    height: 150px;
    overflow: hidden;
    border-left: 10px solid rgba(255,255,255,0);
}

.plane-entry.lost
{
    background: #d8d8d8;
}

.plane-entry.gone
{
    height: 0px;
    margin-bottom: -2px;
    opacity:0;
}

.plane-entry.alarm
{
    border-left: 10px solid #f00;
}

.plane-entry.selected
{
    transition: 0s;
    background: #ccf;
}

.plane-entry .infotable
{
    border-spacing: 0px;
    width: 100%;
}
.plane-entry .infotable td:last-child 
{
    text-align:right;
}
.plane-entry .icon
{
    height: 13px;
    margin-right: 3px;
}

.plane-icao
{
    color: #888;
    float: right;
}

.plane-airline 
{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.plane-from
{
    float: left;
}

.plane-to
{
    float: right;
}

.plane-from img,
.plane-to img
{
    height: 8px;
}

.plane-flight
{
    font-size: 14px;
    font-style: italic;    
    text-align: center;
    display: block;
}

.plane-registration
{
    font-size: 15px;
    font-weight: bold;  
}

.plane-planetype
{
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.plane-led
{
    font-weight: bolder;
    margin-right: 5px;
}

.disabledtext
{
    color:#ddd;
}

.plane-fieldcontainer
{
    padding: 3px;
    margin-left: 30px;
}

.plane-image
{
    transition-duration: 2s;
    position: relative;    
    top: 100px;
}

.plane-height
{
    transition-duration: 2s;
    width:4px;
    height:0px;
    background-color:#ddd;
    display: inline-block;
    position: relative;
    top: 96px;
}

.plane-heightcontainer
{
    transition-duration: 2s;
    height: 95px;
    vertical-align: top;
    text-align: center;
    opacity: 0;
    margin-left: 2px;
    float: left;
}


